# MongoDB
MONGO_URI=mongodb+srv://username:password@cluster.mongodb.net/findit?retryWrites=true&w=majority

# Email Configuration
EMAIL_SERVICE=gmail
EMAIL_USER=your-email@gmail.com
EMAIL_PASSWORD=your-app-password

# Frontend URL
FRONTEND_URL=http://localhost:5173

# JWT Secret
JWT_SECRET=secret123
